<div class="row">
    <div class="col-md-5 bg-secondary text-white">
        <cms-document-list 
            (selectedDocumentEvent)="selectedDocument = $event">
        </cms-document-list>
    </div>
  
    <div class="col-md-4 bg-secondary text-white">
        <cms-document-detail 
            *ngIf="selectedDocument; else infoText"
            [document]="selectedDocument">
        </cms-document-detail>
    </div>
    <ng-template #infoText>
        <p>Please select a Document!</p>
    </ng-template>
</div>
