.panel {
    color: white;
    background: grey;
}

.panel-heading {
    background: #494949;
    color: chartreuse;
}

.btn-success {
    color: chartreuse;
    border-color: chartreuse;
    margin: 1rem;
}

.btn-success:hover {
    border: 1px solid white;
    color: white;
}