<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">New contact</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let contact of contacts">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ contact.cname }}</h4>
            </div>
            <!-- <p class="list-group-item-text">
            </p> -->
            <span class="pull-right">
                <img
                src="{{ contact.imageUrl }}"
                alt="{{ contact.cname }}"
                class="img-responsive"
                style="max-height: 50px;">
            </span>
        </a>
    </div>
</div>
