<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row pad-left-right">
                <span class="pull-left title">Contacts</span>
                <a [routerLink]="['new']" class="btn btn-success pull-right">New contact</a>
            </div>
        </div>
        <div class="panel-body m-4">
            <cms-contact-item 
                *ngFor="let contactEl of contacts; let i = index"
                [contact]="contactEl"                
                [index]="i">
                >
            </cms-contact-item>
        </div>
    </div>
</div>