h4 {    
    color: chartreuse;
    padding: 1rem;
}

.list-group-item { 
    color: chartreuse;
    border-color: white;
    background: grey !important;
}

.list-group-item:hover { 
    border-color: chartreuse;
    background: #494949;
    color: white !important;
}


