<a
class="list-group-item clearfix"
style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active">
    <div class="pull-left">
        <h4 class="list-group-item-heading">
            {{ contact.cname }}
        </h4>
    </div>
    <span class="pull-right ">
        <img *ngIf="contact.imageUrl; else infoText"
        src="{{ contact.imageUrl }}"
        alt="{{ contact.cname }}"
          class="img-responsive h6"
          style="max-height: 50px;">
    </span>
    <ng-template #infoText>
        <p>No image available</p>
    </ng-template>
</a>
