h4 {    
    color: chartreuse;
    padding: 1rem;
}

.list-group-item { 
    color: chartreuse;
    border-color: white;
    background: grey;
}

.list-group-item:hover { 
    color: white;
    border-color: chartreuse;
    background: #494949;
}


