h4 {    
    color: chartreuse;
    padding: 1rem;
}

.list-group-item { 
    color: chartreuse;
    border-color: white;
    background: grey;
}

.list-group-item:hover { 
    color: white !important;
    border-color: chartreuse;
    background: #494949;
}

.btn-success {
    color: chartreuse;
    border-color: chartreuse;
    margin: 1rem;
}

.btn-success:hover {
    border: 1px solid white;
    color: white;
}


