
            <a class="row"
            href="#"
            class="list-group-item clearfix">
                <div class="col-xl-6">
                    <h4 class="list-group-item-heading">
                        {{ contact.cname }}
                    </h4>
                </div>
                <div class="col-xl-2">
                    <div class="pull-xl-right">
                        <img
                        src="{{ contact.imageUrl }}"
                        alt="{{ contact.cname }}"
                        class="img-responsive"
                        style="max-height: 50px;">
                    </div>
                </div>
            </a>
