/* You can add global styles to this file, and also import other style files */
body {
    max-width: 100%;
    background: #999999;
    color: white;
}

.navbar, .navbar-brand {
    background: #494949;
    color: chartreuse; 
}

.navlinks {
    color: magenta;
}

.navbar-toggle .icon-bar {
    background-color: magenta;
}

.panel-heading {
    background: #494949 !important;
    color: chartreuse !important;
    border: 1px solid white;
    border-radius: 4px 0 0 4px;
}

.panel-footer {
    background: #494949;
    color: chartreuse;
}

.panel {
    margin: 2rem;
}

.panel-card {
    background: #494949 !important;
    color: chartreuse !important;
    border-radius: 4px 0 0 4px;
    padding: 2rem;
}

.navlinks:hover, .open {
    background: grey !important;
    color: chartreuse;
}

.img-responsive {
    border-radius: 4px;
}

.panel-body {
    background: grey;
    color: chartreuse;
}

.list-group-item-heading {
    color: white !important;
}

.list-group-item {
    background: grey !important;
    color: white !important;
    border: 2px solid white !important;
}

.list-group-item:hover {
    border: 2px solid chartreuse !important;
    color: chartreuse !important;

}

.btn-success {
    color: chartreuse;
    border: 1px solid chartreuse;
    margin: 1rem;
}

.btn-primary {
    color: turquoise;
    border: 1px solid turquoise !important;
    margin: 1rem;
}

.btn-info {
    color: yellow;
    border: 1px solid yellow;
    margin: 1rem;
}

.btn-danger {
    color: magenta;
    border: 1px solid magenta;
    margin: 1rem;
}

.btn-danger:hover, .btn-success:hover, .btn-primary:hover, .btn-info:hover {
    color: white;
    border: 1px solid white !important;
}

.btn {
    background: transparent !important;
}