body {
    max-width: 100%;
    min-height: 100rem;
    background: grey;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    padding: 2% !important;
}

.h6 {
    color: chartreuse;
    background: transparent;
}

.nav, .navbar, .navbar-brand, footer {
    background: #191919;
    color: chartreuse;
}

span.messageHeader {
    background: #191919 !important;
    padding: 2rem;
}

.navlinks, .pinklink:hover {
    color: magenta;
    text-decoration: none;
}

.navbar-toggle .icon-bar {
    background: magenta;
}

.row, .grid-3 {
    padding: 2%;
}

.panel-heading, .panel-card {
    background: #191919 !important;
    color: chartreuse !important;
    border: 1px solid white;
    border-radius: 4px 0 0 4px;
    padding: 2%;
}

.panel-footer {
    background: grey;
    color: chartreuse;
}

.panel, .container-fluid {
    margin: 2rem;
    max-width: 100%;
}

.panel-card {
    background: #292929 !important;
    color: chartreuse !important;
    border-radius: 4px 0 0 4px;
    padding: 2rem;
}

.navlinks:hover, .open, .pinklink {
    background: #494949 !important;
    color: chartreuse;
}

.img-responsive {
    margin: 4%;
    border: 2px solid white;
    border-radius: 4px;
}

.panel-body {
    background: #494949;
    color: chartreuse;
}

.documentDiv {
    width: 30% !important;
}

.list-group-item-heading {
    color: white !important;
}

.list-group-item {
    align-items: center;
    background: #191919 !important;
    color: white !important;
    border: 2px solid white !important;
    padding: 10px !important;
    margin: 5px !important;

}

.list-group-item:hover {
    border: 4px solid chartreuse !important;
    color: chartreuse !important;
    font-weight: bolder;

}

.btn-primary {
    color: turquoise;
    border: 1px solid turquoise !important;
    margin: 1rem;
}

.btn-info {
    color: yellow;
    border: 1px solid yellow;
    margin: 1rem;
}

.btn-success {
    color: chartreuse;
    border: 1px solid chartreuse;
    margin: 1rem;
}

.btn-danger {
    color: magenta;
    border: 1px solid magenta;
    margin: 1rem;
}

.btn-danger:hover, .btn-success:hover, .btn-primary:hover, .btn-info:hover {
    color: white;
    border: 1px solid white !important;
}

.btn {
    background: transparent !important;
}

.form-control {
    color: white !important;
    background: #292929 !important;
}

.form-label {
    color: chartreuse !important;
    background: #494949 !important;
}

.form-group {
    border-radius: 4px !important;
}

.label-value {
    background: transparent !important;
    color: #090909;
    font-weight: bold;
}