.panel-default {
    color: chartreuse;
    background: grey;
}

.panel-heading {
    background: #494949;
    color: chartreuse;
}

.panel-body hr {
    color: chartreuse;
}

.panel-body {
    margin: 2rem;
    padding: 4rem;
}