<div class="container container-fluid">
  <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="panel-title p-4">{{ contact.cname }} </h2>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-8 grid-3">
            <div>
              <img 
              src="{{ contact.imageUrl }}"
              alt="{{ contact.cname }}" 
              class="img-responsive">
            </div>
            <div>
              <button class="btn btn-info pull-right">Edit</button>
            </div>
            <div>
              <button class="btn btn-danger pull-right">Delete</button>
            </div>
          </div>     
        </div> 
        <div class="panel-footer">
          <div class="row">
              Email: {{ contact.email }}
          </div>
          <div class="row">
              Phone: {{ contact.phone }}
          </div>
        </div>
        <ul class="dropdown-menu">
          <!-- <li><a href="#">To Shopping List</a></li>
          <li><a href="#">Edit Contact</a></li>
          <li><a href="#">Delete Contact</a></li> -->
        </ul>
      </div>
    </div>
</div>