<div class="container container-fluid">
  <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="panel-title p-4">{{ contact.cname }} </h2>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row panel-card">
          <div class="col-lg-8 ">
            <img 
            src="{{ contact.imageUrl }}"
            alt="{{ contact.cname }}" 
            class="img-responsive">
            <button [routerLink]="['new']" class="btn btn-info pull-right">Edit</button>
            <button class="btn btn-danger pull-right">Delete</button>
          </div>     
        </div>      
        <hr>
        <div class="panel-footer">
          <div class="row">
            <div class="col-lg-8">
              Email: {{ contact.email }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              Phone: {{ contact.phone }}
            </div>
          </div>
        </div>
        <ul class="dropdown-menu">
          <!-- <li><[routerLink]="['']" style="cursor: pointer">To Shopping List</a></li>
          <li><[routerLink]="['']" style="cursor: pointer">Edit Contact</a></li>
          <li><[routerLink]="['']" style="cursor: pointer">Delete Contact</a></li> -->
        </ul>
      </div>
    </div>
</div>