.panel-default {
    color: chartreuse;
    background: grey;
}

.panel-heading {
    background: #494949;
    color: chartreuse;
}

.panel-body hr {
    color: chartreuse;
}

.panel-body {
    margin: 2rem;
    padding: 4rem;
}

.btn-primary {
    color: turquoise;
    background: white;
    border-color: chartreuse;
    margin: 1rem;
}

.btn-primary:hover {
    border: 1px solid white;
    color: white;
}