.messageHeader {
    background: grey;
    border: solid thin white;
    color: chartreuse;
    border-radius: 10px;
    padding: 0.4rem;
    font-size: 1.5rem;
 }
 
 .messageText {
    border-radius: 10px;
    padding: 5px;
    margin-top: .25rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    background: #494949;
    color: chartreuse;
 }

 .list-group-item {
   background: #494949;
 }