.panel, .panel-body {
    color: white;
    background: grey;
}

.panel-heading, .panel-footer, .form-control {
    background: #494949;
    color: chartreuse;
}

.form-control:active {
    border: 1px solid chartreuse;
}

.btn-success {
    color: chartreuse;
    background: white;
    border-color: chartreuse;
    margin: 1rem;
    text-shadow: 1px 1px grey;

}

.btn-danger {
    background: white;
    color: magenta;
    border: 1px solid magenta;
    margin: 1rem;
}

.btn-danger:hover, .btn-success:hover {
    background: #494949;
    font-weight: bold;
}

label {
    background: grey;
    color: chartreuse;
}