<div class="row">
    <div class="col-md-5">
       <div class="panel panel-default">
          <div class="panel-heading">
             <div class="row pad-left-right">
                <span class="title pull-left">Messages</span>
             </div>
          </div>
          <div class="panel-body">
             <div class="row">
                <div class="col-xs-12">
                   <!--Add tag to load the MessageItemComponent-->
                </div>
             </div>
          </div>
          <div class="panel-footer">
             <!--Add tag to load the MessageEditComponent-->
          </div>
       </div>
    </div>
 </div>
