<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
            <app-servers></app-servers>
            <p>Add new servers or Blueprints!</p>
            <label for="serverName">Server Name</label>
            <input type="text" class="form-control" [(ngModel)]="newServerName">
            <label for="serverContent">Server Content</label>
            <input type="text" class="form-control" [(ngModel)]="newServerContent">
            <button class="btn btn-primary" (click)="onAddBlueprint">Add Blueprint</button>
        </div>
    </div>
    <hr>
<div class="row">
    <div class="col-xs-12">
        <h3>My Servers</h3>
        <hr>
        <div 
            class="panel panel-default"
            *ngFor let element of serverElements; let i = index
            (click)="onRemoveServer(i)">
            <div class="panel-heading">{{ element.name }}</div>
            <div class="panel-body"></div>
        </div>
            

    </div>
</div>

<hr>
<div>
    <button class="btn btn-primary" (click)=onToggleDisplay()>Toggle Display</button>
    <br><br>
    <p *ngIf="toggleDisplay">
        Joke of the day:<br>
        Why shouldn’t you write with a broken pencil?
        <br><br>
        Because it’s pointless! <br> Bada Boom!
    </p>
    <br><br>
    <div id="timestamplog"
        *ngFor="let logItem of log; let i = index"
        [ngStyle]="{backgroundColor:i >= 4 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-font' : i >= 4}">
        {{ logItem }}
    </div>
    <br><br>

    <!-- <div id="numberslog"
        *ngFor="let item of numberslog"
        [ngStyle]="{background:item >= 5 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-font' : item >= 5}">
        Toggled {{ item }} times.
    </div> -->

    <!-- <div
    *ngFor="let logItem of numberslog"
    [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-font': logItem >= 5}"
  >{{ logItem }}</div> -->

</div>