<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row pad-left-right">
                <span class="pull-left title">Documents</span>
                <a href="#" class="btn btn-success pull-right">Add Document</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="center-panel">
                <cms-document-item 
                    *ngFor="let documentEl of documents"
                    [document]="documentEl"
                    (documentSelected)="onDocumentSelected(documentEl)">
                </cms-document-item>    
            </div>
        </div>    
    </div>
</div>


    
