<div class="panel panel-default">
    <div class="panel-body">
  
      <form id="document-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="name">Document Title:</label>
            <input
              type="text"
              id="name"
              class="form-control"
              size="120"
              max="120"
              name="dname"
              #title="ngModel"
              [ngModel]=document?.dname
              required>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="description">Document Description:</label>
            <input
              type="text"
              id="description"
              class="form-control"
              size="120"
              max="255"
              name="description"
              #name="ngModel"
              [ngModel]=document?.description
              >
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="url">Document URL:</label>
            <input
              type="text"
              id="url"
              class="form-control"
              size="150"
              max="255"
              name="url"
              #url="ngModel"
              [ngModel]=document?.url
              required>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="(!url.valid && url.touched) || (!title.valid && title.touched)">
          The Document Title and Document URL are required fields.
        </div>
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" 
            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
  
    </div>
  </div>
  
  
