<cms-header (selectedFeatureEvent)="switchView($event)"></cms-header>
<div class="col-md-12 m-0 p-0">
    <div class="row ">
        <cms-documents *ngIf="loadedFeature === 'document'"></cms-documents>
        <cms-message-list *ngIf="loadedFeature === 'message'"></cms-message-list>
        <cms-contacts *ngIf="loadedFeature === 'contact'"></cms-contacts>
    </div>
</div>




<!-- <label for="username">Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<p> {{ username }}</p>
<button class="btn btn-primary" disabled="username === ''" (click)="username = ''">Reset User</button> -->

