<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed p-1 m-1" data-toggle="collapse" data-target="#example-1" aria-expanded="false">
				<!-- <span class="sr-only">Toggle Navigation</span> -->
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a href="#" class="navbar-brand">WeLearn CMS</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a id="doc" href="#" (click)="onSelected('document')">Documents</a>
        </li>
        <li>
          <a id="msg" href="#" (click)="onSelected('message')">Messages</a>
        </li>
        <li>
          <a id="ctc" href="#" (click)="onSelected('contact')">Contacts</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Users <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>