<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed navlinks p-4 m-4" data-toggle="collapse" data-target="#example-1" aria-expanded="false">
				<!-- <span class="sr-only">Toggle Navigation</span> -->
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a href="#" (click)="onSelected('contact')" class="navbar-brand">WeLearn CMS</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a id="doc" class="navlinks" href="#" (click)="onSelected('documents')">Documents</a>
        </li>
        <li>
          <a id="msg" class="navlinks" href="#" (click)="onSelected('messages')">Messages</a>
        </li>
        <li>
          <a id="ctc" class="navlinks" href="#" (click)="onSelected('contacts')">Contacts</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Users <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>