<h3>I'm in the AppComponent!</h3>
<hr>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<app-servers></app-servers>
<!-- <div app-servers></div> -->
<!-- <div class="app-servers"></div> -->



<button class="btn btn-primary" (click)="toggleHideJoke()">Display Details</button>
<p [
    ngStyle]="{ display: getHide() }"
    [ngClass]="{ hidden: hide === false }">
    Joke of the day:<br>
    Why shouldn’t you write with a broken pencil?
    <br><br>
    Because it’s pointless! Bada Boom!
</p>
